[submodule "lib/builder"]
	path = lib/builder
	url = https://github.com/openflighthpc/openflight-compute-cluster-builder
[submodule "lib/playbook"]
	path = lib/playbook
	url = https://github.com/openflighthpc/openflight-ansible-playbook
